body {
  margin: auto;
  max-width: 700px;
  background-color: #eceff1;

  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  color: #282828;
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a, a:visited {
  color: #282828;
}

a:hover {
  color: #fff;
  background-color: #0e1e25;
}

.logo {
  margin-top: 15px;
  width: 70%;
  min-width: 230px;
  max-width: 350px;
}

.description {
  margin: 40px auto;
}

.next {
  font-size: 0.9em;
  margin-block-start: -3px;
}

.next a {
  text-decoration: underline;
  cursor: pointer;
}

.description p.submitted {
  color: #fff;
  background-color: #0e1e25;
}

input {
  display: block;
  margin: 40px auto 0 auto;
  padding: 15px;
  width: 85%;
  max-width: 290px;
  font-family: monospace;
  font-size: 0.9em;
  color: #fff;
  background-color: #0e1e25;
  -webkit-appearance: none;
  border: 0px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #0e1e25 inset;
}

::placeholder {
  color: #eceff1;
  opacity: 0.9;
}

input[type=submit] {
  min-width: initial;
  width: 100px;
  background-color: #0e1e25;
  cursor: pointer;
  transition: all 0.2s;
}

input[type=submit]:hover {
  transform: scale(1.05);
}

input[type=submit]:focus {
  transform: scale(1);
}

footer {
  margin: 30px 0 0 0;
}


@media (max-width: 769px) {
  body {
    width: 85vw;
  }
  .description {
    max-width: 320px;
  }
}


@media (max-width: 426px) {
  body {
    font-size: 13px;
  }
  .description {
    margin: 30px auto;
  }
  input {
    margin: 30px auto 0 auto;
    max-width: 250px;
  }
}


@media (max-width: 321px) {
  .description {
    margin: 25px auto 30px auto;
  }
}


@media (pointer: coarse) {
  a:hover {
    color: initial;
    background-color: initial;
  }
}
