body {
  margin: 60px auto auto auto;
  max-width: 800px;
  background-color: #fff;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  text-align: center;
}

.logo {
  width: 70%;
  min-width: 200px;
  max-width: 400px;
}

a, a:visited {
  color: #333;
}

a:hover {
  color: #fff;
  background-color: #333;
}

.main {
  margin-top: 40px;
}

.description {
  margin-bottom: 50px;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 15px;
  width: 85%;
  max-width: 300px;
  font-family: monospace;
  font-size: 13px;
  color: #fff;
  background-color: #0e1e25;
  -webkit-appearance: none;
  border: 0px solid #ccc;
  border-radius: 7px;
  -webkit-border-radius: 7px;
}

input[type=submit] {
  min-width: initial;
  width: 100px;
  cursor: pointer;
  transition: all 0.2s;
}

input[type=submit]:hover {
  transform: scale(1.05);
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

::placeholder {
  color: #eceff1;
  opacity: 0.9;
}

footer {
  margin: 40px 0 20px 0;
}



@media (min-height: 750px) {
  footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}


@media (max-width: 769px) {
  body {
    max-width: 90vw;
    font-size: 13px;
    margin: 50px;
  }
  .main {
    margin-top: 60px;
  }
  input {
    padding: 13px;
  }
}



@media (max-width: 426px) {
  body {
    margin: 30px;
  }
  .main {
    margin-top: 50px;
  }
  input {
    margin-top: 40px;
  }
}
