body {
  margin: auto;
  max-width: 800px;
  height: 100vh;
  background-color: #eceff1;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  color: #282828;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a, a:visited {
  color: #282828;
}

a:hover {
  color: #fff;
  background-color: #0e1e25;
}

.logo {
  width: 70%;
  min-width: 230px;
  max-width: 350px;
}

.description {
  margin: 40px auto;
}

.show-details {
  font-size: 0.9em;
  margin-block-start: -3px;
}

.details {
  display: none;
}

input {
  display: block;
  margin: 40px auto 0 auto;
  padding: 15px;
  width: 85%;
  max-width: 290px;
  font-family: monospace;
  font-size: 0.9em;
  color: #fff;
  background-color: #0e1e25;
  -webkit-appearance: none;
  border: 0px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #0e1e25 inset;
}

::placeholder {
  color: #eceff1;
  opacity: 0.9;
}

input[type=submit] {
  min-width: initial;
  width: 100px;
  background-color: #0e1e25;
  cursor: pointer;
  transition: all 0.2s;
}

input[type=submit]:hover {
  transform: scale(1.05);
}

footer {
  margin: 20px 0 0 0;
}

footer p {
  margin-block-end: 0;
}


@media (max-width: 769px) {
  body {
    max-width: 85vw;
    font-size: 13px;
  }
  .description {
    max-width: 320px;
  }
}


@media (max-width: 426px) {
  .description {
    margin: 30px auto;
  }
  input {
    margin: 30px auto 0 auto;
    max-width: 250px;
  }
}
